# Node.js
node_modules/
dist/
*.log
npm-debug.log*

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
ENV/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Playwright test artifacts
test-results/
playwright-report/
